</main>
    <footer>
        <img src="/images/github.png" alt="logo-footer">
        <a href="https://github.com/helypereira" target="_blank">github.com/helypereira</a>
    </footer>
    <script src="/index.js"></script>
    </body>
</html>