</main>
<footer>
    <a href="https://github.com/helypereira" target="_blank"><img src="/images/github.png" alt="logo-github"></a>
    <a href="https://www.linkedin.com/in/hely-pereira/" target="_blank"><img src="/images/linkedin.png" alt="linkedin"></a>
</footer>
<script src="/index.js"></script>
</body>
</html>